* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* cores */
:root {
    --cor--terciaria: #8F9AB8;
    --cor--segundaria: #56658E;
    --cor--primaria: #C3CCE3;
    --cor--menu: #101B39;
}

html {
    background-color: var(--cor--primaria)
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}


.cabecalho {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}


/*titulo*/
.cabecalho :nth-child(even) {
    margin: 0 1rem;
}


.cabecalho h1 {
    font-family: Ruge Boogie, sans-serif;
    font-weight: 100;
}

/*carrinho*/
.cabecalho a {
    width: 10%;
}

.cabecalho a img {
    width: 70%;
    border-radius: 50%;
    margin-top: 10px;
}

.carrinho {
    width: 2%;
    height: 2%;
}

/*carrinho*/

h1 {
    text-align: center;
}

/*logo*/
.cabecalho img {
    width: 10vh;
}

header img {
    width: 30%;
}

/*barra de pesquisa*/
.cabecalho form {
    margin-left: 4rem;
    margin-right: 4rem;
    width: 50%;
    height: 2.5rem;
}

.cabecalho form input {
    width: 100%;
    height: 100%;
}


.menu {
    background-color: var(--cor-do-menu);
    width: 100%;
    height: auto;
    justify-content: center;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul :hover {
    color: #8F9AB8;
}

.menu li {
    margin: 0.25rem;
    padding: 0.7rem;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 0.7rem;
    font-size: 1rem;
    cursor: pointer;
}

.menu h1 {
    font-size: 1.2rem;
    margin: 0 1rem;
    padding: 0;
    color: white;
    width: 4rem;
    height: 2rem;
}


nav a {
    flex-wrap: wrap;
    background-color: var(--cor--menu);
    color: rgb(255, 255, 255);
    display: flex;
    padding: 5px;
    text-decoration: none;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}

.descricao {
    padding-top: 50px;
    font-size: 1.3rem;
    margin-left: 50px;
    max-width: 580px;
}


.tapete {
    display: flex;
    margin-left: 30px;
    height: 350px;
    margin-top: 40px;

}

.valor {
    padding-top: 190px;
    margin-left: -580px;
    font-size: 30px;
}


header {
    background-color: var(--cor--menu);
    width: 100vw;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1rem 1rem var(--sombra-menu);
}



footer {
    margin-top: 80px;
    padding: 60px;
    flex-direction: column;
    background-color: var(--cor--menu);
    color: white;
    text-align: center;
}