:root {
    --cor--terciaria:#8F9AB8;
    --cor--segundaria:#56658E;
    --cor--primaria:#C3CCE3;
    --cor--menu:#101B39;
    --sombra-menu: #2C3B63;
}

li a:hover{
    color: #56658E;
}

.instagram:hover{
    color: #56658E;
}

h1{
    text-align: center;
}


.t{
    color: black;
    margin-top: 60px;
}

.tudo{
    margin-top: 50px;
}

.um{
    padding: 30px;
    max-width: 400px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px #101B39 solid;
}

.dois{
    padding: 40px;
    max-width: 290px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px #101B39 solid;
    margin-top: -223px;
    margin-left: 890px;
}

.tres{
    padding: 52px;
    max-width: 400px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px #101B39 solid;
    margin-top: -223px;
    margin-left: 500px;
    max-width: 250px;
}



li{
    list-style-type: none;
    font-size: 20px;
    color: black;
}

footer{
    margin-top: 150px;
}