:root {
    --cor-do-menu: #101B39;
    --fundo-do-site: #C3CCE3;
    --sombra-menu: #2C3B63;
    --cor-link: #8F9AB8;
}

footer{
    margin-top: 500px;
}

a:hover{
    color: #2C3B63;
}

.fp{
    margin-top: 130px;
    background-color: aqua;
    margin-left: 50px;
    max-width: 400px;
    font-size: x-large;
}