:root {
    --cor--terciaria: #8F9AB8;
    --cor--segundaria: #56658E;
    --cor--primaria: #C3CCE3;
    --cor--menu: #101B39;
    --sombra-menu: #2C3B63;
}

* {
    margin: 0;
    padding: 0;
}

.conteudo {
    display: flex;

    margin-bottom: 2rem;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.conteudo article {
    color: white;
    width: 100%;
    height: 100%;
    margin: 1rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.conteudo {
    background: url("/PROJETO-ARTESANATO-SENAI-/Imagens esquina do artesanato/Imagens restantes/fachada2.png") no-repeat center center;
    background-size: cover;
    height: 92vh;
}

@media screen and (max-width: 768px) {
    
}