:root {
    --cor-do-menu: #101B39;
    --fundo-do-site: #C3CCE3;
    --sombra-menu: #2C3B63;
    --cor-link: #8F9AB8;
}

* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3;
}

a:hover {
    opacity: 0.7;
}

header nav .logo img {
    width: 100px;
    height: 90px;
    margin: 2rem;
}

header ul {
    list-style-type: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-do-menu);
    height: 14vh;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu button img {
    width: 20px;
    height: 20px;  
}

.btn-fechar {
    padding: 20px 5%;
}

.btn-abrir-menu button {
    background: transparent;
    border: none;
}

.mobile-menu button {
    background: transparent;
    border: none;
}

.mobile-menu {
    text-decoration: none;
    background: var(--cor-do-menu);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .3s;
    max-width: 500px;
}

.mobile-menu.abra-menu {
    width: 70%;
}

.mobile-menu.abra-menu ~ .overlaymenu {
    display: block;
}

.mobile-menu li a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 10%;
    display: block;
}

.mobile-menu li a:hover {
    background-color: var(--sombra-menu);
} 

.mobile-menu ul {
    text-align: right;
}

.btn-abrir-menu img {
    color: #fff;
    width: 30px;
    height: 30px;
    margin: 1rem;
}

.overlaymenu {
    background-color: var(--sombra-menu);
    opacity: 50%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

.procurar {
    display: flex;
    width: 100%;
    height: 5%;
    padding-top: 1%;
    padding-right: 3%;
    background: var(--cor-do-menu);
    justify-content: center;
    align-items: center;
}

.procurar form input {
    border-radius: 16px;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    padding-left: 2%;
    width: 55vw;
    height: 2rem;
    max-width: 600px;
    color: #000;
}

.procurar button{
    background: transparent;
    border: none;
    margin-bottom: 0.5rem;
}

.procurar button img {
    width: 48px;
    height: 48px;
}

@media screen and (max-width: 1024px) {
    .nav-list {
        display: none;
    }

    .procurar form input {
        max-width: 500px;
    }
}