* {
    margin: 0;
    color: #ffffff;
}

h4 {
    margin-top: 15px;
}

footer .instagram:hover {
    color: #56658E;
}

footer{
    flex-direction: column;
    background-color: var(--cor-do-menu);
    color: white;
    text-align: center;
}
footer p {
    color: white;
}
p{
    color: black;
}
h2{
    color: black;
}

